@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hind", sans-serif;
}
.picture {
  width: 30rem;
  height: 30rem;
  position: absolute;
  bottom: 10rem;
}
.better {
  margin-top: 7rem;
}
.better-text {
  font-size: 2.5rem;
}
.image {
  width: 30rem;
  height: 30rem;
}
.hero-text {
  font-size: 1rem;
  font-weight: 500;
}

/* Button*/

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  outline: 2px solid #7effb2;
  padding: 10px 20px;
  overflow: hidden;
  transition: color 1s;
}

.button:hover {
  color: #7c6c6c;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #7effb2;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}

.button:hover::before {
  transform: scaleX(1) skewX(35deg);
}

/*Footer*/
.footer {
  padding-top: 2rem;
}

.copyright {
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

/* .icon-css {
  padding-bottom: 0.5rem;
} */

/*Icon*/
.icons {
  display: flex;
  column-gap: 25px;
}
.icon {
  display: inline-flex;
  width: 25px;
  height: 25px;
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  border-radius: 50%;
  outline: 2px solid #000000;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.icon:hover {
  outline-offset: 4px;
}
.icon i {
  margin: auto;
}
.icon:hover i {
  animation: shake 0.25s;
}
.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}
.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.icon--github:hover {
  background-color: #000000;
  outline-color: #000000;
  color: white;
}
@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    position: relative;
    right: 5rem;
  }
  .main {
  }
  .image-col {
    padding-top: 1rem;
  }
  .image-min {
    width: 22rem;
  }
  .copyright {
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .icon-css {
    padding-bottom: 1rem;
  }
  .icon {
    display: inline-flex;
    width: 15px;
    height: 15px;
    text-decoration: none;
    font-size: 10px;
    color: #000000;
    border-radius: 50%;
    outline: 2px solid #000000;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
  }
}

/* @media screen and(max-width:1366px) {
  .navbar {
    position: relative;
    right: 5rem;
  }
  .image-col {
    padding-top: 1rem;
  }
  .image {
    width: 50rem;
  }
  .copyright {
    font-size: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .icon-css {
    padding-bottom: 1rem;
  }
  .icon {
    display: inline-flex;
    width: 15px;
    height: 15px;
    text-decoration: none;
    font-size: 10px;
    color: #000000;
    border-radius: 50%;
    outline: 2px solid #000000;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
  }
  
}  */
