.nav {
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 0.5rem;
}
.list {
  position: absolute;
  left: 37%;
  color: #fff;
  font-size: 1rem;
  display: flex;
  gap: 40px;
}
.home{
  color: #fff;
}
.list .list-li .list-a{
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
transition: 0.5s ease;
}
.list:hover .list-li .list-a{
  color: #30edf4;
}
.list:hover .list-a:not(:hover){
  color: rgb(88, 86, 86);
  opacity: 0.7;
  filter: blur(0.8px);
}

/* .hero {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../nick-fewings-Hf-UoMSx6R0-unsplash.jpg);
    background-size: cover;
    background-position: center;
} */

.list1 {
  color: #cecfcf;
}
.list2{
  color: #cecfcf;
}