<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/EvanCUbe.css" />
    <title>Evans Cube Profile</title>
  </head>
  <body>
    <div class="hero">
      <nav class="navbar navbar-expand-lg nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="/Components/Ourteam.html">Team</a>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col evans">
          <h4 id="evans">Evans Cube</h4>
          <h6 class="designer">Chief Designer</h6>
          <br />
          <p style="text-align: center">
            Meet our Chief Designer, the creative force behind our stunning
            designs. With over 10 years of experience in the industry, our
            designer has a keen eye for detail and a passion for creating
            unique, personalized spaces. From elegant living rooms to inviting
            outdoor areas, our Chief Designer is dedicated to bringing your
            vision to life. With a focus on functionality and beauty, you can
            trust our team to create a space you'll love for years to come.
          </p>
          <div class="icons">
            <a href="#" class="icon icon--instagram">
              <i class="ri-instagram-line"></i>
            </a>
            <a href="#" class="icon icon--twitter">
              <i class="ri-twitter-line"></i>
            </a>
            <a href="#" class="icon icon--linkedin">
              <i class="ri-linkedin-line"></i>
            </a>
          </div>
        </div>
        <br />
        <div class="col">
          <img
            src="/Images/erik-lucatero-d2MSDujJl2g-unsplash.jpg"
            alt="img"
            class="image"
          />
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
